@keyframes image_display_background {
    from {
        background-position: 0 50%;
    }
    to {
        background-position: 100% 50%;
    }
}
.gradient_animation{
    background: linear-gradient(45deg, mediumslateblue, olivedrab, hotpink, salmon);
    background-size: 200% 200%;
    animation: image_display_background 10s linear infinite alternate-reverse;
    width: 100%;
    position: relative;
}
.elevated_container {
    background: mintcream;
    border: outset min(1vw, 1vh);
    -webkit-box-shadow: min(1.5vw, 1.5vh) min(1.5vw, 1.5vh) min(4.5vw, 4.5vh) rgba(0,0,0,0.4);
    -moz-box-shadow: min(1.5vw, 1.5vh) min(1.5vw, 1.5vh) min(4.5vw, 4.5vh) rgba(0,0,0,0.4);
    width: min(62.5vw, 62.5vh);
    position: relative;
    top: calc(52%);
    left: 50%;
    transform: translate(-48%, -50%);
}
.login_container-container{
    display: block;
    text-align: center;
    margin-top: 2vh;
}
.login_container-elements{
    padding: 1.5%;
    font-size: min(4vw, 4vh);
    width: 37%;
    outline: none;
}
.login_container-login_button{
    padding: 2%;
    background: mediumslateblue;
    border: none;
    color: white;
    transition-duration: 0.25s;
    border-radius: 5px;
}
.login_container-login_button:hover{
    background: slateblue;
    color: white;
    transition-duration: 0.25s;
}
.login_container-signup_button{
    padding: 2%;
    background: olive;
    border: none;
    color: white;
    transition-duration: 0.25s;
    border-radius: 5px;
}
.login_container-signup_button:hover{
    background: darkolivegreen;
    color: white;
    transition-duration: 0.25s;
}