{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-dark">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>FCS | Home</title>

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'js/MakeRating.js' %}"></script>
        <script src="{% static 'js/bootstrap/jquery-3.2.1.slim.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap_4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    </head>
    <header>
        {% block header %}
            {% with active="Home"%}
            {% include 'Components/Header.html' %}
            {% endwith %}
        {% endblock header %}
    </header>
    <body >
        <div style="min-height: calc(100vh - 160px); background: antiquewhite">
            <div class="card-deck d-flex flex-wrap mx-2 py-3 justify-content-center">
            {% for item in items %}
                {% block content %}
                    {% include 'Components/item_card.html' %}
                {% endblock content %}
            {% endfor %}
            </div>
        </div>
    </body>
    <footer>
        {% block footer %}
            {% with active="Home" %}
            {% include 'Components/Footer.html' %}
            {% endwith %}
        {% endblock footer %}
    </footer>
</html>