{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-dark">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FCS | Sales</title>

        <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<header>
        {% block header %}
            {% with active="Sell"%}
            {% include 'Components/Header.html' %}
            {% endwith %}
        {% endblock header %}
</header>
<body >
<div class="d-flex align-items-center flex-column"
     style="background: antiquewhite; min-height:calc(100vh - 156px)">
        <div class="d-flex flex-column align-items-center justify-content-center pb-3 my-2 mt-4" style="width:90%; max-width: 1250px">
            <span class="text-black fw-bold h1 w-100 text-start mb-2">Your Sales</span>
            <div class="table-responsive w-100 rounded-3 shadow-sm">
                <table class="table table-hover table-bordered table-light pb-0 mb-0">
                    <thead class="table-dark">
                      <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Seller</th>
                          <th scope="col">Buyer</th>
                          <th scope="col">Item</th>
                          <th scope="col">Price</th>
                          <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for sale in sales %}
                      <tr>
                          <td>{{ sale.Sno }}</td>
                        <td>{% if sale.Seller %}<a href="{% url "profile" %}?id={{ sale.Seller }}">{{ sale.Seller }}</a>{% else %}Removed{% endif %}</td>
                          <td>{% if sale.Buyer %}<a href="{% url "profile" %}?id={{ sale.Buyer  }}">{{ sale.Buyer }}</a>{% else %}Removed{% endif %}</td>
                          <td>{% if sale.Item %}<a href="{% url "item" %}?id={{ sale.Item }}">{{ sale.Item }}</a>{% else %}Removed{% endif %}</td>
                          <td>{{ sale.Price }}</td>
                          <td>{{ sale.status }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

</div>

</body>
<footer>
        {% block footer %}
            {% with active="Sell" %}
            {% include 'Components/Footer.html' %}
            {% endwith %}
        {% endblock footer %}
</footer>
</html>