{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-dark">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FCS | Listed</title>

        <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<header>
        {% block header %}
            {% with active="Sell"%}
            {% include 'Components/Header.html' %}
            {% endwith %}
        {% endblock header %}
</header>
<body >
<div class="d-flex align-items-center flex-column"
     style="background: antiquewhite; min-height:calc(100vh - 156px)">
        <div class="d-flex flex-column align-items-center justify-content-center card pb-3 my-2 mt-4" style="width:90%; max-width: 1000px">
            <span class="text-black fw-bold h1 card-title card-header w-100 text-start mb-2">On Sale</span>
            {% for request in requests %}
                <form class="my-1 card" style="width: 90%; max-width: 1000px" method="post">
                {% csrf_token %}
                    <div class="card-body">
                        {% for k, v in request.items %}
                            <b>{{ k }}: </b>{{ v }}<br>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 px-2 overflow-hidden">
                    <input style="max-width: 400px" id="n_items_{{ item.ID }}"
                                                min=1
                                                max=99
                                                class="w-100"
                                                type = "number"
                                                placeholder="Add Quantity" name="add_{{ request.ID }}"
                                                oninput="if (this.value.length === 0) return;
                                                         if (this.value > 99) this.value = this.max;
                                                         if (this.value < this.min) this.value = this.min;)">
                        <button style="max-width: 400px" class="btn btn-success w-100 mt-1" type="submit" name="update_request" value="{{ request.ID }}">Update</button>
                        {% if request.inventory == "0" %}
                        <button style="max-width: 400px" class="btn btn-danger w-100 mb-2 mt-3" type="submit" name="delete_request" value="{{ request.ID }}">Delete</button>
                            {% else %}
                            <button style="max-width: 400px" disabled class="btn btn-danger w-100 mb-2 mt-3" type="submit" name="delete_request" value="{{ request.ID }}">Inventory not 0</button>
                        {% endif %}
                    </div>
                </form>
            {% endfor %}
        </div>

</div>
</body>
<footer>
        {% block footer %}
            {% with active="Sell" %}
            {% include 'Components/Footer.html' %}
            {% endwith %}
        {% endblock footer %}
</footer>
</html>
