<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Success</h1>
    <ul>
        <li>Your limited account has been created!</li>
        <li>Please verify your email (Also check in spam)!</li>
        <li><a href="/">Return to home</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</body>
</html>