{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-dark">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FCS | Item</title>

        <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static "css/custom_css.css"%}>
</head>
<header>
            {% block header %}
            {% with active="Item"%}
            {% include 'Components/Header.html' %}
            {% endwith %}
        {% endblock header %}
</header>
<body>
    <div class="d-flex flex-column align-items-center justify-content-center custom_bg"
     style="min-height:calc(100vh - 156px)">
        <div class="d-flex flex-row card my-3 p-0 p-2 text-start text-dark radius-5 bg-light
                shadow item_display item_main border" style="width: 90%; max-width: 1125px; min-width: 300px;">
                <div class="shadow-sm p-1 border rounded d-flex flex-column align-items-center justify-content-center item_first" 
			style="width: 100%; background: white; height: 100%;">
                    <img src='{{ item.image_1 }}'
                     class="card-img-top card-img rounded-top" height="233px" style="object-fit: contain" id="image" alt="Card image cap">
                    <div class="w-100 d-flex justify-content-center flex-row my-2 flex-wrap" >
                        <img src='{{ item.image_1 }}' onclick="switch_to_image(this)"
                         class="card-img-top card-img rounded-2 btn p-0 bg-light" style="max-width: 60px; max-height: 36px;object-fit: contain" id="image1" alt="Card image sm">
                        {% if item.image_2%}
                            <img src='{{ item.image_2 }}' onclick="switch_to_image(this)"
                         class="card-img-top card-img rounded-2 btn p-0 ms-1 bg-light" style="max-width: 60px; max-height: 36px;object-fit: contain" id="image2" alt="Card image sm">
                        {% endif %}
                        {% if item.image_3%}
                            <img src='{{ item.image_3 }}' onclick="switch_to_image(this)"
                         class="card-img-top card-img rounded-2 btn p-0 ms-1 bg-light" style="max-width: 60px; max-height: 36px;object-fit: contain" id="image3" alt="Card image sm">
                        {% endif %}
                        {% if item.image_4 %}
                            <img src='{{ item.image_4 }}' onclick="switch_to_image(this)"
                         class="card-img-top card-img rounded-2 btn p-0 ms-1 bg-light" style="max-width: 60px; max-height: 36px;object-fit: contain" id="image4" alt="Card image sm">
                        {% endif %}
                        {% if item.image_5%}
                            <img src='{{ item.image_5 }}' onclick="switch_to_image(this)"
                         class="card-img-top card-img rounded-2 btn p-0 ms-1 bg-light" style="max-width: 60px; max-height: 36px;object-fit: contain" id="image5" alt="Card image sm">
                        {% endif %}
                    </div>
                    <script>
                        let act_img = document.getElementById("image1")
                        let main_place_holder = document.getElementById("image")
                        main_place_holder.src = act_img.src
                        act_img.classList.toggle("border-dark")
                        function switch_to_image(which) {
                            act_img.classList.toggle("border-dark")
                            act_img = which
                            act_img.classList.toggle("border-dark")
                            main_place_holder.src = act_img.src
                        }
                    </script>
                    <div class="w-100 d-flex justify-content-around flex-column">
                        <div class="card-footer d-flex flex-row align-items-center" style="max-height: 36px">
                            <small class="text-muted"><b>Price:</b></small>
                            <small class="ms-1">{{ item.price }}</small>
                            <span style="font-size: 18px; font-weight: lighter">₹</span>
                        </div>
                        <div class="card-footer d-flex flex-row align-items-center w-100" style="max-height: 36px; overflow: hidden">
                            <small class="text-muted"><b>Seller ID: </b></small><small class="ms-1"><a href="{% url "profile" %}?id={{ item.seller_id }}">{{ item.seller_id }}</a></small>
                        </div>
                    </div>
                    <form class="w-100 d-flex flex-row justify-content-around flex-md-column" method="post">
                        {% csrf_token %}
                        <button class="btn {% if not user.is_authenticated or in_cart%}btn-danger{% else %}btn-success{% endif %} mt-2 w-100" type="submit" name="type"
                                value="{% if in_cart and user.is_authenticated %}remove_from_cart{% else %}add_to_cart{% endif %}"
                        {% if full_cart and not in_cart %}disabled{% endif %}>{% if in_cart and user.is_authenticated %}Remove{% elif full_cart %}Cart Is Full{% else %}Add To Cart{% endif %}</button>
                    </form>
                <button class="btn btn-primary w-100 mt-2" data-bs-toggle="modal" data-bs-target="#my_modal_custom_" id="modal_btn_alert"
                onclick="copyText()">Share Item</button>
                <div class="modal fade" id="my_modal_custom_" tabindex="-1" role="dialog" aria-labelledby="#exampleModalLabel_item" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel_item">URL Copied To Clipboard</h5>
                                  <button type="button" class="close btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                              </div>
                              <div class="modal-body">
                                Paste URL To Share The Item!
                              </div>
                            </div>
                        </div>
                </div>
                <script>
                    function copyText() {
                        let textToCopy = window.location.href;
                        let myTemporaryInputElement = document.createElement("input");
                        myTemporaryInputElement.type = "text";
                        myTemporaryInputElement.value = textToCopy;
                        document.body.appendChild(myTemporaryInputElement);
                        myTemporaryInputElement.select();
                        document.execCommand("Copy");
                        document.body.removeChild(myTemporaryInputElement);

                    }
                </script>
                </div>
                <div class="h-100 shadow-sm card pb-1 card-body overflow-hidden item_second border">
                    <h1 class="card-title text-truncate mb-0" style="white-space: initial;">{{ item.title }}</h1>
                    <p class="card-text pb-2 mt-0">
                        {{ item.description|safe }}
                    </p>
                </div>
            </div>
        </div>
</body>
<footer>
        {% block footer %}
            {% with active="Item" %}
            {% include 'Components/Footer.html' %}
            {% endwith %}
        {% endblock footer %}
</footer>
</html>
