{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-dark">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FCS | Sell New</title>

        <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<header>
        {% block header %}
            {% with active="Sell"%}
            {% include 'Components/Header.html' %}
            {% endwith %}
        {% endblock header %}
</header>
<body >
<div class="d-flex align-items-center flex-column"
     style="background: antiquewhite; min-height:calc(100vh - 156px)">
        <form class="d-flex flex-column align-items-center card shadow-sm pb-3 my-3 mx-2" style="max-width: 1000px; width: 90%" method="post" enctype="multipart/form-data">
            <span class="shadow-sm text-black fw-bold h1 card-title card-header w-100 text-start">Sell New Item</span>
                {% csrf_token %}
                <span class="{% if success %}text-black{% else %}text-danger{% endif %} fw-bold h2 text-center mt-2" style="width: 90%;">{{ message }}</span>
            <label class="d-flex mt-1 flex-row mx-2" style="width: 90%">
                <label class="w-50 me-1">
                    <input id="title" class="w-100" name="title" type="text" placeholder="Product Name" required maxlength="25">
                </label>
                <label class="w-50 ms-1">
                    <input id="title" class="w-100" name="prod_type" type="text" placeholder="Product Type" required maxlength="15">
                </label>
            </label>
            <label class="d-flex mt-3 mx-2" style="width: 90%">
                <textarea id="short_description" name="short_description" placeholder="Short Description" class="w-100"
                 maxlength="200" required></textarea>
            </label>
                <label class="d-flex mt-3 mx-2" style="width: 90%; height: 100px">
                <textarea id="description" name="description" placeholder="Long Description (HTML allowed)" class="w-100"
                maxlength="5000" required></textarea>
            </label>
            <label class="d-flex mt-3 mx-2" style="width: 90%">
                <input  id="price" name="price"
                        step="0.01"
                        min=0.01
                        max=100000000
                        class="w-100" style="max-width: 900px"
                        type = "number"
                        placeholder="Price"
                        oninput="if (this.value.length === 0) return;
                                                 if (this.value > 100000000.00) this.value = this.max;
                                                 if (this.value < this.min) this.value = this.min;" required>
            </label>

                <label class="d-flex mt-3 mx-2 align-items-center justify-content-center flex-row flex-wrap" style="width: 90%">
                    <label class="form-label fw-bold w-100 p-0 m-0" style="min-width: 100px">Image Files:</label>
                    <div class="flex-grow-1 mt-1 me-1" style="width: 300px">
                        Image 1<input class="form-control" type="file" id="image_1" name = "image_1" accept="image/*" required>
                    </div>
                    <div class="flex-grow-1 mt-1 me-1" style="width: 300px">
                        Image 2<input class="form-control" type="file" id="image_2" name = "image_2" accept="image/*" required/>
                    </div>
                    <div class="flex-grow-1 mt-1 me-1" style="width: 300px">
                        Image 3 (optional)<input class="form-control" type="file" id="image_3" name = "image_3" accept="image/*"/>
                    </div>
                    <div class="flex-grow-1 mt-1 me-1" style="width: 300px">
                        Image 4 (optional)<input class="form-control" type="file" id="image_4" name = "image_4" accept="image/*"/>
                    </div>
                    <div class="flex-grow-1 mt-1 me-1" style="width: 300px">
                        Image 5 (optional)<input class="form-control" type="file" id="image_5" name = "image_5" accept="image/*"/>
                    </div>
                </label>
                <label class="mt-4 d-flex align-items-center justify-content-center" style="width: 90%">
                    <button style="max-width: 400px" class="btn btn-success w-100 mb-2" type="submit" name="product_request">Send Request
                    </button>
                </label>
        </form>
</div>
</body>
<footer>
        {% block footer %}
            {% with active="Sell" %}
            {% include 'Components/Footer.html' %}
            {% endwith %}
        {% endblock footer %}
</footer>
</html>