{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FCS | Checkout</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</head>
<body style="background: antiquewhite">
<div class="w-100 d-flex align-items-center justify-content-center my-3">
    <div class="card d-flex flex-column pb-3 align-items-center" style="width: 90%">
        <span class="h1 card-header w-100" style="font-size: xxx-large">Checkout</span>

        <form class="form d-flex flex-row flex-wrap justify-content-between w-100">
            <div class="d-flex flex-column w-100" style="max-width: 540px;">
                <span class="h1 p-2 pb-0 mt-2" style="font-size: xx-large">Address</span>
                <label class="d-flex flex-column overflow-hidden ms-2">
                    <span class="ms-2" style="font-size: large; font-weight: 600">Country/Region:</span>
                    <select class="form-select ms-2" style=" width: 95%; max-width: 500px">
                        <option value="India">India</option>
                        <option value="USA">USA</option>
                    </select>
                </label>
                <label class="d-flex flex-column overflow-hidden ms-2 mt-2">
                    <span class="ms-2" style="font-size: large; font-weight: 600">Full name (First and Last name):</span>
                    <input type="text" class="mx-2" style="max-width: 500px; width: 95%">
                </label>
                <label class="d-flex flex-column overflow-hidden ms-2 mt-2">
                    <span class="ms-2" style="font-size: large; font-weight: 600">Registered Phone Number:</span>
                    <input  class="ms-2" style="width: 95%; max-width: 500px"
                            oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            type = "text"
                            maxlength = "10">
                </label>
                <label class="d-flex flex-column overflow-hidden ms-2 mt-2">
                    <span class="ms-2" style="font-size: large; font-weight: 600">House Address:</span>
                    <label class="d-flex flex-row">
                        <input  type="text" class="ms-2" style="width: 46.5%; max-width: 246px" placeholder="house, floor, building">
                        <input  type="text" class="ms-2" style="width: 46.8%; max-width: 247px" placeholder="street address or PO box">
                    </label>
                </label>
                <label class="d-flex flex-row overflow-hidden ms-2 mt-2">
                    <label class="d-flex flex-column">
                        <span class="ms-2" style="font-size: medium; font-weight: 500">City:</span>
                        <input  type="text" class="ms-2" style="width: 90%; max-width: 170px">
                    </label>
                    <label class="d-flex flex-column">
                        <span class="ms-2" style="font-size: medium; font-weight: 500">State:</span>
                        <input  type="text" class="ms-2" style="width: 90%; max-width: 170px">
                    </label>
                    <label class="d-flex flex-column">
                        <span class="ms-2" style="font-size: medium; font-weight: 500">ZIP Code:</span>
                        <input  type="text" class="ms-2" style="width: 86%; max-width: 162px">
                    </label>
                </label>

            </div>

            <div class="d-flex flex-column w-100" style="max-width: 540px;">
                <span class="h1 p-2 pb-0 mt-2" style="font-size: xx-large">Payment Options</span>
                <label class="d-flex flex-column overflow-hidden ms-2">
                <span class="ms-2" style="font-size: large; font-weight: 600">Payment Type:</span>
                <select class="form-select ms-2" style=" width: 95%; max-width: 500px">
                    <option value="credit">Debit Card</option>
                </select>
            </label>
            <label class="d-flex flex-column overflow-hidden ms-2 mt-2">
                <span class="ms-2" style="font-size: large; font-weight: 600">Card Number:</span>
                <input type="text" class="mx-2" style="max-width: 500px; width: 95%">
            </label>
            <label class="d-flex flex-column overflow-hidden ms-2 mt-2">
                <span class="ms-2" style="font-size: large; font-weight: 600">Name on Card:</span>
                <input type="text" class="mx-2" style="max-width: 500px; width: 95%">
            </label>
            <label class="d-flex flex-column overflow-hidden ms-2 mt-2">
                <span class="ms-2" style="font-size: large; font-weight: 600">Expiration Date:</span>
                <label class="d-flex flex-row">
                    <select class="form-select ms-2" style=" width: 46.5%; max-width: 246px">
                        <option value="credit">1</option>
                        <option value="credit">2</option>
                        <option value="credit">3</option>
                        <option value="credit">4</option>
                        <option value="credit">5</option>
                        <option value="credit">6</option>
                        <option value="credit">7</option>
                        <option value="credit">8</option>
                        <option value="credit">9</option>
                        <option value="credit">10</option>
                        <option value="credit">11</option>
                        <option value="credit">12</option>
                    </select>
                    <select class="form-select ms-2" style=" width: 46.5%; max-width: 247px">
                        <option value="credit">2021</option>
                        <option value="credit">2022</option>
                        <option value="credit">2023</option>
                        <option value="credit">2024</option>
                        <option value="credit">2025</option>
                        <option value="credit">2026</option>
                        <option value="credit">2027</option>
                        <option value="credit">2028</option>
                        <option value="credit">2029</option>
                        <option value="credit">2030</option>
                        <option value="credit">2031</option>
                        <option value="credit">2032</option>
                        <option value="credit">2033</option>
                        <option value="credit">2034</option>
                        <option value="credit">2035</option>
                        <option value="credit">2036</option>
                        <option value="credit">2037</option>
                        <option value="credit">2038</option>
                        <option value="credit">2039</option>
                        <option value="credit">2040</option>
                        <option value="credit">2041</option>
                    </select>
                </label>
            </label>
            <label class="d-flex flex-column overflow-hidden ms-2 mt-2">
                <span class="ms-2" style="font-size: large; font-weight: 600">CVV:</span>
                <input type="text" class="mx-2" style="max-width: 500px; width: 95%">
            </label>

            </div>
        </form>
        <button class="btn btn-success mt-3" style="width: 95%; max-width: 200px">Continue</button>
    </div>
</div>
</body>
</html>