<div class="card my-2" style="width: 90%; max-width: 1000px">
    <div class="w-100 mx-0 p-0">
    <div class="card-header w-100 mb-1">
  		<div class="col-md-10"><h1>{{ username }}</h1></div>
    </div>
    <div class="row p-2">
  		<div class="col-md-3"><!--left col-->


      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div><br>

        </div><!--/col-3-->
    	<div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr class="mt-0">
                <div>
                    <div class="col-xs-6">
                        <h4>User ID</h4>
                        <span>{{ id }}</span>
                    </div>
                </div>
                <div>
                    <div class="col-xs-6">
                        <h4>Email-ID</h4>
                        <span>{{ email }}</span>
                    </div>
                </div>
                <div>
                    <div class="col-xs-6">
                        <h4>Role</h4>
                        <span>{{ group }}</span>
                    </div>
                </div>
                <hr>
                {% if owner %}
                <div class="w-100 d-flex flex-column">
                    {% if group == "buyer" or group == "seller" or group == "admin" %}
                    <div class="w-100">
                        <button class="btn btn-primary w-100">Modify Profile</button>
                    </div>
                    <div class="mt-1 w-100">
                        <a class="btn btn-secondary w-100" href="/purchases/">Purchases</a>
                    </div>
                    {% else %}
                    <div class="mt-1 w-100">
                        <span class="text-danger w-100">Account not verified</span>
                    </div>
                    {% endif %}
                    {% if group == "buyer" %}
                        <div class="mt-1 w-100">
                            <a class="btn btn-success w-100" href="/sell/">Become A Seller</a>
                        </div>
                    {% endif %}
                    {% if group == "seller" or group == "admin"%}
                        <div class="mt-1 w-100">
                            <a class="btn btn-success w-100" href="/sell/">Sell Panel</a>
                        </div>
                    {% endif %}
                    {% if group == "admin" %}
                        <div class="mt-1 w-100 d-flex flex-row">
                            <a class="btn btn-danger w-100" href="/admin/">Admin Panel</a>
                        </div>
                        <div class="dropdown w-100 mt-1">
                          <button class="btn btn-dark dropdown-toggle w-100"
                                  type="button" id="dropdownMenuButton"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Handle Requests
                          </button>
                          <div class="dropdown-menu dropdown-menu-dark w-100" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/item_handler/">New Item</a>
                            <a class="dropdown-item" href="/seller_handler/">New Seller</a>
                          </div>
                        </div>
                    {% endif %}
                </div>
              <hr>
            {%endif%}
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>
    </div>
</div>

