<div class="card my-2" style="width: 90%; max-width: 1000px">
    <div class="w-100 mx-0 p-0">
    <div class="card-header w-100 mb-1">
  		<div class="col-md-10"><h1>{{ first_name }} {{ last_name }}</h1></div>
    </div>
    <div class="row p-2">
  		<div class="col-md-3"><!--left col-->


      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div><br>

        </div><!--/col-3-->
    	<div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr class="mt-0">
                <div>
                    <div class="col-xs-6">
                        <h4 style="display: inline" class="me-1">User ID:</h4>
                        <span>{{ id }}</span>
                    </div>
                </div>
                <div>
                    <div class="col-xs-6 mt-3">
                        <h4 style="display: inline" class="me-1">Email-ID:</h4>
                        <span>{{ email }}</span>
                    </div>
                </div>
                {% if owner %}
                    <div class="col-xs-6 mt-3">
                        <h4 style="display: inline" class="me-1">Phone Number:</h4>
                        <span>{{ phone_number }}</span>
                    </div>
                {% endif %}
                <div>
                    <div class="col-xs-6 mt-3">
                        <h4 style="display: inline" class="me-1">Role:</h4>
                        <span>{{ group }}</span>
                    </div>
                </div>
                <hr>
                {% if owner %}
                <div class="w-100 d-flex flex-column">
                    {% if group == "buyer" or group == "seller" or group == "admin" %}
                    <div class="w-100">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#modal_2" type="button" id="modal_1">Modify Profile</button>
                                        <div class="modal fade" id="modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_1" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel_1">Change Details</h5>
                                                        <button type="button" class="close btn btn-light"  data-bs-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                        <form class="form w-100" method="post">
                                                            {% csrf_token %}
                                                      <div class="modal-body d-flex flex-column">

                                                            <label class="mt-1">
                                                                <style>
                                                                    input::-webkit-outer-spin-button,
                                                                    input::-webkit-inner-spin-button {
                                                                        -webkit-appearance: none;
                                                                        margin: 0;
                                                                    }

                                                                    input[type=number] {
                                                                        -moz-appearance: textfield;
                                                                    }
                                                                </style>
                                                                <b>Phone number:</b>
                                                                <input  class="ms-1"
                                                                    oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
                                                                            if (this.value.length < this.maxLength) this.setCustomValidity('Phone must be 10 digit long');
                                                                            if (this.value.length === this.maxLength) this.setCustomValidity('')"
                                                                    type = "number"
                                                                    maxlength = "10"
                                                                    placeholder="Mobile" name="phone" id="phone" value="{{ phone_number }}" required>
                                                            </label>

                                                      </div>
                                                      <div class="modal-footer">
                                                          <button type="submit" name="modify_profile" class="btn btn-primary">Submit</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                                      </div>
                                                            </form>
                                                    </div>
                                                </div>
                                        </div>
                    </div>
                    <div class="mt-1 w-100">
                        <a class="btn btn-secondary w-100" href="{% url "purchases"%}">Purchases</a>
                    </div>
                    {% else %}
                    <div class="mt-1 w-100">
                        <span class="text-danger w-100">Account not verified</span>
                    </div>
                    {% endif %}
                    {% if group == "buyer" %}
                        <div class="mt-1 w-100">
                            <a class="btn btn-success w-100" href="{% url "sell" %}">Become A Seller</a>
                        </div>
                    {% endif %}
                    {% if group == "seller" or group == "admin"%}
                        <div class="mt-1 w-100">
                            <a class="btn btn-success w-100" href="{% url "sell" %}">Sell Panel</a>
                        </div>
                    {% endif %}
                    {% if group == "admin" %}
                        <div class="mt-1 w-100 d-flex flex-row">
                            <a class="btn btn-danger w-100" href="{% url 'admin:index' %}">Admin Panel</a>
                        </div>
                        <div class="dropdown w-100 mt-1">
                          <button class="btn btn-dark dropdown-toggle w-100"
                                  type="button" id="dropdownMenuButton"
                                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Handle Requests
                          </button>
                          <div class="dropdown-menu dropdown-menu-dark w-100" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url "admin_response_to_new_item_request" %}">New Item</a>
                            <a class="dropdown-item" href="{% url "admin_response_to_seller_request" %}">New Seller</a>
                          </div>
                        </div>
                    {% endif %}
                </div>
              <hr>
            {%endif%}
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>
    </div>
</div>

