{% load static %}
<nav class="shadow-sm navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <div class="d-flex align-items-center justify-content-center">
            <img alt="company Logo" class="rounded-circle" height="32px" src="{% static 'res/logo.jpg' %}">
            <span class="h-100 ms-1" style="font-weight: 600">FCS</span>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
          <a  class="nav-link {% if active == 'Home' %}active{% endif %}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 'Store' %}active{% endif %}" href="/store">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 'Sell' %}active{% endif %}" href="/sell">Sell</a>
        </li>
      </ul>
        {% if active == "Home" or active == "Store" or active == "Sell" or active == "Item"%}
            <form class="d-flex mx-0 mx-md-3 w-100 form-inline" id="searchbar_form" method="get" action="/store">
                <div class="rounded-0 border-0 w-100 d-flex flex-row" id="autocomplete">
                    <div class="rounded-0 border-0 w-100 d-flex flex-row dropdown" style="cursor: text !important;" id="searchbar">
                        <select class="form-select p-0 rounded-0 rounded-start select2 select2-search--dropdown btn-success pe-4 ps-2" style="max-width: 90px" id="catdd"
                        onchange="get_search_results(document.getElementById('srch'))" name="c">
                            <option value="">All</option>
                        </select>
                        <input class="form-control dropdown dropdown-toggle rounded-0 border-0 w-100" style="cursor: text !important;" autocomplete="off" id="srch"
                               type="search" placeholder="Search" aria-label="Search" role="button" data-bs-toggle="dropdown" aria-expanded="false" oninput="get_search_results(this)"
                        {% if active == "Home"%}value='{{ q }}'{% endif %} onmouseup="this.toggle()" name="q">
                        <ul class="dropdown-menu bg-gradient bg-light dropdown-menu-md-end w-100" aria-labelledby="searchbar" id="search_filler" style="cursor: pointer; overflow: hidden; text-overflow: ellipsis">
                            <li class="dropdown-item"><img class="me-2" src="{% static 'res/search_icon.svg' %}"></li>
                        </ul>
                        <button class="rounded-0 rounded-end btn btn-success" type="submit" id="subsrch">Search</button>
                        <script>
                            function get_search_results(state) {
                                let e = document.getElementById("catdd");
                                let strUser = e.value;
                                const url = `/search/?q=${state.value}&c=${strUser}`
                                new Promise(resolve => {
                                  fetch(url)
                                  .then(response => response.json())
                                  .then(data => {
                                    document.getElementById("search_filler").innerHTML =
                                        `<li><a class="dropdown-item" href="/store/?q=${state.value}&c=${strUser}"><img class="me-2" style="height: 24px; width: 24px; object-fit: contain" src="{% static 'res/search_icon.svg' %}">${state.value}</div></a></li>`+
                                            "\n"+
                                        (data.data.map(element => `<li><a class="dropdown-item" href="/item/?id=${element.ID}"><img class="me-1" style="height: 24px; width: 24px; object-fit: contain" src="${element.image}"> ${element.title}</div></a></li>`).join('\n'));
                                    resolve(data.data)
                                  })
                                })
                            }
                            document.getElementById("catdd").innerHTML = `<option value="">All</option>`;
                            const url = `/search/?sc`
                                new Promise(resolve => {
                                  fetch(url)
                                  .then(response => response.json())
                                  .then(data => {
                                      console.log(data)
                                    document.getElementById("catdd").innerHTML =
                                        `<option value="">All</option>`+
                                            "\n"+
                                        (data.data.map(element => {return `<option value="${element}">${element}</option>`}).join('\n'));
                                    resolve(data.data)
                                  })
                                })
                        </script>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="d-flex mx-0 mx-md-3 w-100">
            </div>
        {% endif %}
      <div class="d-flex flex-row me-auto mb-2 mb-md-0">
        <div class="nav-item dropdown pt-2 pt-md-0">
            <a class="dropdown-toggle btn {% if active == 'Login' %}btn-outline-success{% endif %} link-primary ps-md-2" href="#" id="login" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="rounded-circle" height="28px" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="User"/>
            </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-md-end" aria-labelledby="login">
            {% if not user.is_authenticated %}
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/signup">Signup</a></li>
            {% else %}
                <li><a class="dropdown-item" href="/profile/?id={{ user.id }}">Profile</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            {% endif %}
        </ul>
        </div>
        <div class="nav-item dropdown pt-2 pt-md-0 ms-1">
            <div class="btn {% if active == 'Cart'%}btn-outline-success{% endif %}">
                <a href="/cart" id="login" role="button" aria-expanded="false">
                    <img class="rounded-circle" height="28px" src="/static/res/cartIcon.png" alt="Cart"/>
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>
