{% load static %}

    <a href='/item?id={{ item.ID }}' style="text-decoration: inherit; color: inherit; cursor: pointer;">
        <div class="card my-2 mx-2 btn btn-outline-success btn-outline-light-success p-0 text-start text-dark" style="width: 350px">
            <div class="w-100 bg-white" style="height: 233px">
                <img class="card-img-top card-img bg-white" src='{{ item.image }}' alt="Card image cap" height="233px" style="object-fit: contain" loading="lazy">
            </div>
            <hr style="height: 1px" class="cm-hr my-0">
            <div class="card-body pb-0">
                <h5 class="card-title text-truncate">{{ item.title }}</h5>
                <p class="card-text" style="height: 125px; overflow: hidden;text-overflow: fade">
                    {{ item.short_description }}
                </p>
            </div>
            <div class="card-footer d-flex flex-row align-items-center" style="max-height: 36px">
                <small class="text-muted"><b>Price:</b></small>
                <small class="ms-1">{{ item.price }}</small>
                <span class="ms-1" style="font-size: 18px; font-weight: lighter">₹</span>
            </div>
            <div class="card-footer d-flex flex-row align-items-center" style="max-height: 36px">
                <small class="text-muted"><b>Seller ID: </b></small><small class="ms-1"><a href="/profile/?id={{ item.seller_id }}"> {{ item.seller_id }}</a></small>
            </div>
        </div>
    </a>
